<!-- view/index.ejs -->
<!DOCTYPE html>
<html>
<% include _partials/head %> 
<body>
<div class="container-fluid">
	<div class="jumbotron text-center">
		<h1>Lastword</h1>
		<p>Say GoodBye to the World</p>
		<a class="btn btn-default"  href="/login">Login</a>
		<a class="btn btn-info" href="/signup">Sign Up</a>
	</div>
</div>
<% include _partials/foot %> 
</body>
</html>