<!-- profile.ejs -->
<!DOCTYPE html>
<html>
<% include _partials/head %>
<body>
<div class="container-fluid">
	<div class="page-header text-center">
		<h1><%= user %> <small>You are still alive, huh?</small></h1>
	</div>
</div>
<% include _partials/foot %>
</body>
</html>